{% extends 'base.html' %}

{% block content %}

<div id="bg-cover"></div>

<div id="about">
	<div class="row">
		<div class="col-12 d-flex justify-content-end">
			<i id="about-close"></i>
		</div>
	</div>
	<div class="content container">
		<div class="row text-center">
			<div class="col-12">
				<h1 class="section-heading">I am Gerard H</h1>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12 col-sm-12 col-md-6 section-image">
				<img src="/static/images/Profile_image.jpg" class="rounded img-fluid" alt="Artist photo">
			</div>
			<div class="col about-info">
				<p>Gerard H started his career in early 2008 as a DJ touring the London & Ibiza underground scenes, concentrating on the Funky, Electro, Progressive, Fidget & sometimes Tech House genres.</p>
				<p>Since then, he took to the studio to produce and release music under the aliases of Gee-4rce, GerarDroid & now Gerard H on many different labels world wide, including his own project - Digital Storm Records.</p>
				<p>After a few years' break, he's now returned in full force, taking on the Techno scene in both the record mixing and producing disciplines.</p>
				<br>
				<div class="social-icons text-center">
					<a href="https://www.facebook.com/gerardhmusic" target="_blank">
						<i class="fa fa-facebook-official" aria-hidden="true"></i>
					</a>
					<a href="https://www.instagram.com/accounts/login/?next=/gerard_h_official/" target="_blank">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
					<a href="https://www.youtube.com/user/4rceFedTV/" target="_blank">
						<i class="fa fa-youtube-square" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="media">
	<div class="row content">
		<div class="col-6 d-flex justify-content-end">
			<h1>MEDIA</h1>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<i></i>
		</div>
	</div>
</div>

<div id="contact">
	<div class="row content">
		<div class="col-6 d-flex justify-content-end">
			<h1>CONTACT</h1>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<i></i>
		</div>
	</div>
</div>

<div id="gallery">
	<div class="row content">
		<div class="col-6 d-flex justify-content-end">
			<h1>GALLERY</h1>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<i></i>
		</div>
	</div>
</div>

<img id="logo-signature" src="/static/images/GH_Logo.png" alt="Artist logo">

{% endblock content %}