{% extends 'base.html' %}

{% block content %}

<div id="bg-cover"></div>

<div id="about">
	<div class="content">
		<div class="row">
			<div class="col-12 d-flex justify-content-end">
				<i></i>
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
</div>

<div id="media">
	<div class="row content">
		<div class="col-6 d-flex justify-content-end">
			<h1>MEDIA</h1>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<i></i>
		</div>
	</div>
</div>

<div id="contact">
	<div class="row content">
		<div class="col-6 d-flex justify-content-end">
			<h1>CONTACT</h1>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<i></i>
		</div>
	</div>
</div>

<div id="gallery">
	<div class="row content">
		<div class="col-6 d-flex justify-content-end">
			<h1>GALLERY</h1>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<i></i>
		</div>
	</div>
</div>

<img id="logo-signature" src="/static/images/GH_Logo.png" alt="Artist logo">

{% endblock content %}